// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  
    .menuBorder{
        padding: 0;
        margin: 0;
    }
    
    // Insert your own theme rules here
    .menuButton {
        font-style: italic;
        height: 30px;
        width: 250px;
        margin: 5px;
        color: black;
    }

    .atribute {
        font-style: italic;
        box-shadow: 5px 3px grey;
        color: black;
        padding-right: 0;
    }



    .property {
        font-style: italic;
        box-shadow: 0px -5px lightgrey;
        color: black;
        padding-right: 0;
        
    }
    

    .cancelIcon{
        padding: 0px;
        height: 16px;
    }
    
    .connectButton {
        height: 30px;
        width: 45px;
        color: black;
        font-size: 45%;
        padding-left: 2px;
        float: contour;
    }
   
    /*
    .topPart{
        background-color: lightgray;
        margin-bottom: 5px;
        padding-left: 25px;
    }
   
    .bottomPart{
        background-color: grey;
        margin-top: 5px;
        padding-left: 25px;
        
    }
    */
     .conditions{
        background-color: lightgray;
        margin-top: 5px;
        padding-left: 25px;
    }
   
    .conclusions{
        background-color: grey;
        margin-bottom: 5px;
        padding-left: 25px;
        
    }
    
    .nameButton{
        padding: 0px;
        height: 24px;
        width: 50px;
        margin-right: 5px;
        font-size: xx-small;
    }
    
    .binaryToggleName{
        margin-right: 85px;
    }
    
    .propositionButton{
        padding: 0px;
        height: 24px;
        width: 80px;
        margin-right: 10px;
        font-size: xx-small;
    }
    
    .commentButton{
        padding: 1px;
        height: 24px;
        width: 90px;
        font-size: xx-small;
    }
    
    .editButton{
        padding: 1px;
        height: 24px;
        width: 50px;
        font-size: xx-small;
    }
    
    .window{
        
        padding-left: 15px;
        padding-right: 15px;
        
    }
}
